<div class="section-01">
    <%= image_tag("blue-logo.png", :class => "logo", :alt => "Cataclysm") %>
</div>

<div class="text-banner">
	<p class="text">Hey there! We're still getting everything set up, but we invite you to <a href="/about">learn more</a> about Cataclysm while we prepare for our April 2016 launch!</p>
</div>